.titleIMG{
    font-size: 1.6em;
    padding: 0 10px;
    text-align: justify;
    color: #272343;
    margin-top: 5vh;
    background-color: #fffc42;
}
.subtitleIMG{
    margin-top: 10px;
    font-size: 1em;
    color: #272343;
}
img{
    justify-self: center;
    width: 45vw;
}
.titleCaracteristicas{
    color: #272343;
    font-size: 1.4em;
    margin-bottom: 30px;;

}
.subtitleCaracteristicas{
    font-size: .9em;
    color: #2D334A;
}
.Caracteristicas{
    margin-left: 5vw;
    color: #2D334A;
    width: 60%;
    margin-top: 10px;
    font-size: .8em;
}
.Caracteristicas li{
    padding: 5px;
}