@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
   /* background-color: #ececec; */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
.All-Content{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: ". conteudo .";
    
}
.conteudo{
    grid-area: conteudo;
}
.components{
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
}
header{
    margin-top: 2%;
    grid-area: header;
}
main{
    margin-top: 38px;
    grid-area: main;
}
footer{
    grid-area: footer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LogoHeader{
    width: 28vw;
}
.NavLista{
    color: #fffff4;
    text-decoration: none;
    transition: 0.3s;
}
.NavLista:hover{
    color: #4F4FB3;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #272343;
    transition: 0.9s;
  }
  #menu a:hover {
    text-decoration: underline #4F4FB3;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 800px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #e7e7e7;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
/* FIm header */ 

/* Inicio Main */

.MainEntrance{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "Title Subtitle"
    "Title Subtitle";
    gap: 30px;
}
.TituloBotao{
    grid-area: Title;
    color: #2D334A;
}
.TituloPrincipal{
    font-size: 4.375em;
    color: #272343;
    font-weight: 900;
}
.Subtitulo1{
    grid-area: Subtitle;
    font-size: 1.875em;
    color: #2D334A;
    font-weight: 900;
}
.btnSaibaMais{
    background-color: #FFD803;
    color:#272343;
    min-width:  70%;
    min-height: 88px;
    font-weight: 900;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 0.8375em; 
    text-decoration: none;
    transition: 0.7s;
}
.btnSaibaMais > a{
    color: #2D334A;
    text-decoration: none;
}
.btnSaibaMais:hover{
    background-color: #ffd9008c;
    color: #fff;
    transition: 0.3s;
}
.link{
    color: #272343;
    text-decoration: underline #bba500;
}
.Subtitle2{
    margin-top: 1.875em;
    grid-area: Subtitle;
    font-size: 1.25em;
    color: #2D334A;
    font-weight: 900;
    text-align: justify;
}

/* Titulos Alternativos */
.TitulosAlt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 30vh;
}

.TitulosAlt div h1 {
    color: #272343;
    font-size: 1.875em;
    font-weight: 800;
    
}
.TitulosAlt div p{
    margin-top: 15px;
    text-align: justify;
    color: #2D334A;
    font-size: 0.9375em;
    font-weight: 600;
}
.TitulosAltEsquerdo > h1{
    padding-right: 15px;
    display: flex;
    justify-content: center;
}
.TitulosAltEsquerdo > h1 > span{
    padding-left: 12px;
}
.TitulosAltDireito > h1{
    display: flex;
    justify-content: center;
}
.TitulosAltDireito > h1 > span{
    padding-left: 12px;
}
.Texts{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.Texts h1{
    color: #272343;
    font-size: 1.875em;
    font-weight: 800;
}
.Texts p{
    color: #2D334A;
    font-size: 0.900em;
    font-weight: 600;
    width: 100%;
    text-align: justify;
    margin-top: 30px;
}
.Mockup{
    background-color: #464646;
    width: 230px;
    height: 200px;
}
footer{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
footer img{
    width: 25vh;
}
.botaoMobile{
    display: none;
}
span{
    color: #4F4FB3;
}
@media (max-width: 800px) {
    .MainEntrance{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Title"
        "Subtitle";
    }
    .LogoHeader{
        width: 250px; 
    }
    .TituloBotao{
        display: none;
    }
    .TitulosAlt{
        margin-top: 10vh;
    }
    .TitulosAlt div p{
        margin-top: 15px;
        text-align: justify;
        color: #2D334A;
        font-size: 1.3em;
        font-weight: 600;
    }
    .Texts p{
        color: #2D334A;
        font-size: 1.2em;
        font-weight: 600;
        width: 100%;
        text-align: justify;
        margin-top: 30px;
    }
}
@media (max-width: 600px) {
    .All-Content{
        grid-template-areas: ". conteudo .";
    }
}